# Dependencias
node_modules/
.pnp
.pnp.js

# Variables de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de sistema
.DS_Store
.vscode/
.idea/
*.swp
*.swo

# Archivos de compilación
/build
/dist
/out
.next/
.vercel

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Cobertura
coverage/

# Cache
.cache/